@model BasketGetDto
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Shopping Cart</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Cart</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.basketItems)
                        {
                            <tr>
                                <td>
                                    <div class="media">
                                        <div style=" height: 54px;" class="d-flex">
                                            <img src="~/img/product/@item.Image" alt="">
                                        </div>
                                        <div class="media-body">
                                            <p>@item.Name</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>$@item.Price</h5>
                                </td>
                                <td>
                                    <div class="product_count">
                                        <input type="text" name="qty" id="sst"  value="@item.Count" title="Quantity:"
                                               class="input-text qty">
                                        <a asp-controller="shop" asp-action="IncreaseCount" asp-route-id="@item.Id"
                                                class="increase items-count" type="button">
                                            <i class="lnr lnr-chevron-up"></i>
                                        </a>
                                        <a asp-controller="shop" asp-action="DecreaseCount" asp-route-id="@item.Id"
                                                class="reduced items-count" type="button">
                                            <i class="lnr lnr-chevron-down"></i>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <h5>$@(item.Price*item.Count)</h5>
                                </td>
                            </tr>
                        }


                        <tr>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                                <h5>Subtotal</h5>
                            </td>
                            <td>
                                <h5>$@Model.TotalPrice</h5>
                            </td>
                        </tr>

                        <tr class="out_button_area">
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                                <div class="checkout_btn_inner d-flex align-items-center">
                                    <a class="gray_btn" href="#">Continue Shopping</a>
                                    <a class="primary-btn" asp-controller="shop" asp-action="checkout">Proceed to checkout</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
