@model UpdateDto
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Login/Register</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Login/Register</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="~/img/login.jpg" alt="">
                    <div class="hover">
                        <h4>New to our website?</h4>
                        <p>There are advances being made in science and technology everyday, and a good example of this is the</p>
                        <a class="primary-btn" >Update Account</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Log in to enter</h3>
                    <form class="row login_form" method="post">
                        <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
                        <div class="col-md-12 form-group">
                            <input asp-for="FullName" class="form-control" placeholder="FullName" onfocus="this.placeholder = ''" onblur="this.placeholder = 'FullName'">
                            <span class="alert alert-text" asp-validation-for="FullName"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <input asp-for="UserName" class="form-control" placeholder="Username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
                            <span class="alert alert-text" asp-validation-for="UserName"></span>
                        </div>
                      
                        <div class="col-md-12 form-group">
                            <input asp-for="OldPassword" class="form-control" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
                            <span class="alert alert-text" asp-validation-for="OldPassword"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <input asp-for="NewPassword" class="form-control" placeholder="ConfirmPassword" onfocus="this.placeholder = ''" onblur="this.placeholder = 'ConfirmPassword'">
                            <span class="alert alert-text" asp-validation-for="NewPassword"></span>
                        </div>
                       
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="primary-btn">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>